<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Server Auth</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="stylesheet" href="./mvp.css" />
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="wrapper">
        <!-- <img src="/images/docfluent.png"> -->
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    <main>
        <section>
            <form id="login">
                <div class="login-form" style="text-align: center;">
                    <h2>Login</h2><hr>
                    <label>Email</label>
                    <input type="text" name="login" class="input-center" placeholder="you@gmail.com"/><br>
                    <label>Password</label>
                    <input type="password" name="password" class="input-center" placeholder="Password"/><br>
                    <button style="background-color: #0c610f;">Log in</button>
                </div>
            </form>
        </section>

        <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-database.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

        <script>
            window.addEventListener("DOMContentLoaded", () => {
                const firebaseConfig = {
                    apiKey: "AIzaSyBvOJwAjPy34RM9eG7fsQOYxG8U6b838YE",
                    authDomain: "teamcollabarator.firebaseapp.com",
                    databaseURL: "https://teamcollabarator-default-rtdb.firebaseio.com",
                    projectId: "teamcollabarator",
                    storageBucket: "teamcollabarator.appspot.com",
                    messagingSenderId: "42443602275",
                    appId: "1:42443602275:web:7bcc482cb7a14210f83b56"
                };

                firebase.initializeApp(firebaseConfig);

                firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

                document
                    .getElementById("login")
                    .addEventListener("submit", (event) => {
                        event.preventDefault();
                        const login = event.target.login.value;
                        const password = event.target.password.value;
                        // alert(password)

                        firebase
                            .auth()
                            .signInWithEmailAndPassword(login, password)
                            .then(({ user }) => {

                                var ref = firebase.database().ref()
                                em = login.replaceAll(".com", '')
                                ref.child('users/').once("value").then(snap => {
                                    s = snap.val();
                                    // console.log(s, em, s[em])
                                    if (s[em] != null) {
                                        username = s[em]["name"];
                                        fetch("/sessionLogin", {
                                            method: "POST",
                                            headers: {
                                                Accept: "application/json",
                                                "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify({ username: username, email: login }),
                                        }).then(response => {
                                            // console.log("this is my response", response);
                                            response.json().then(data => {
                                                // console.log("Here is ", data)
                                                console.log(data["token"])
                                                localStorage.setItem("token", data["token"])
                                                // window.location.assign("/dashboard")

                                                console.log("going to dashboard")
                                                window.location.assign('/dashboard')

                                            })


                                        }).catch(err => {
                                            console.log("Ye kya ho raha hai ")
                                            console.log(err)
                                        });
                                        console.log("Ye kya ho raha hai ")
                                    }
                                    else {
                                        console.log("Kya hai Bhai !!")
                                    }

                                })

                            })
                        return false;
                    });
            });
        </script>
    </main>
    </div>
</body>

</html>