<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <link rel="stylesheet" href="./mvp.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/profile.png">
    <script defer>
        let user = "<%= curr_auth %>"
        user = user.replaceAll("&#34;", '"');
        user = JSON.parse(user)
    </script>
</head>

<body>
    <a href="/dashboard" style="position: absolute;"><img src="images/back.png"></a>
    <main>
        <h1>Profile page</h1>
        <img class="userImage" src="images/userImage.png" alt="User-Image">
        <p>Hi <span class="user">User</span> , this page is private and only visible to you</p>
        <p>Email : <span class="email">User</span> </p>
        <button id="logout">Logout</button>
    </main>
</body>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js">
</script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
<script src="firebase_config.js"></script>
<script type="module">
    document.querySelector(".user").innerHTML = `${user.user.name}`;
    document.querySelector(".email").innerHTML = `${user.user.email}`;
    firebase.initializeApp(firebaseConfig);
    document.getElementById("logout").addEventListener('click', (e) => {
        e.preventDefault();
        alert("Hello")
        firebase.auth().signOut().then(() => {
            console.log("Logged out");
            fetch("/sessionLogout", {
                method: "GET",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                credentials: 'include'


            }).then((res) => {
                window.location.assign("/logIn");
            })

        })
    })
</script>
<script>
    const userImage = document.querySelector('.userImage');
    if (user.user.userImage != null) {
        userImage.src = user.user.userImage;
    }
</script>

</html>