<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc-Fluent</title>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="icon" type="image/png" sizes="32x32" href="images/room.png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        const roomName = "<%= roomName %>"
        let chatObj = "<%= chatObj %>"
        let user = "<%= curr_auth %>"
        let files = "<%= files %>"

        user = user.replaceAll("&#34;", '"');
        user = JSON.parse(user)
        if (user == '') user = null;

    </script>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script defer src="https://team-collaborator.herokuapp.com/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <script defer src="video.js"></script>
    <!-- <script src="editor.js"></script> -->
</head>

<body>
    <button class='btn btn-sm btn-danger print'><img class='print-image' src="images/print.png"></button>

    <div class="editor-container">

        <div id="editor">
        </div>

    </div>

    <div class="videoContainer">

    </div>



    <!-- <hr class="line"> -->
    <div class="chat-container">

        <div class="header">
            <div class="btn-group user-info-btn">
                <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Users
                </button>
                <ul class="dropdown-menu">

                </ul>
            </div>

            <h3 class="text">Chat Room</h3>
            <button class="btn btn-sm btn-warning video">Video</button>

            <button class="btn btn-sm btn-danger leave">Leave</button>
        </div>
        <div id="message-container">
        </div>

        <form autocomplete="off" id="send-container">

            <input type="text" id="message-input" placeholder="Write Message...">
            <button class="btn btn-sm btn-success send-btn"> Send</button>
        </form>
    </div>

</body>

<script>

    let chat = document.createElement('div')
    chat = document.querySelector(".chat-container");
    let editor = document.createElement('div')
    editor = document.querySelector(".editor-container");
    let printbtn = document.createElement('button');
    printbtn = document.querySelector(".print");
    let print_flag = 0;

    function changeLayout(change) {
        if (print_flag == 1) {
            return;
        }
        if (change.matches) {
            document.querySelector(".chat-container").remove();
            document.querySelector(".editor-container").remove();
            document.querySelector(".print").remove();

            let godDiv = document.createElement('div');
            godDiv.className = "god";
            godDiv.innerHTML = `
            <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Document-Page</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Chat-Room</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
</div>
            `;
            if (document.querySelector(".god") == null) {
                document.body.append(godDiv);
                document.querySelector('#nav-home').appendChild(editor);
                document.querySelector('#nav-home').appendChild(printbtn);
                document.querySelector('#nav-profile').appendChild(chat);
            }
            else {
                document.querySelector('#nav-home').appendChild(editor);
                document.querySelector('#nav-home').appendChild(printbtn);
                document.querySelector('#nav-profile').appendChild(chat);
            }


        }
        else {
            if (document.querySelector(".god") != null)
                document.querySelector(".god").remove();
            document.body.append(printbtn);
            document.body.append(editor);
            document.body.append(chat);

        }


    }

    var change = window.matchMedia("(max-width:1175px)");
    changeLayout(change);
    change.addListener(changeLayout);
</script>




</html>