*{
    margin : 0 ; 
    padding : 0 ;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width : fit-content;
    
}

.editor-container{
    z-index: 5;
    width:60vw ; 
    height : 100vh ; 
    background-color: #F3F3F3;
}

#editor{
    height : 90% ; 
    padding : 1rem ; 
    margin : 1rem ; 
    box-shadow: 0 0 5px rgba(0 , 0 , 0 ,0.5);
    background-color:whitesmoke;
}

.ql-toolbar.ql-snow{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    height: 6%;
    text-align: center !important ; 
    position: sticky !important ; 
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    z-index : 1 ; 
}
.ql-formats{
    display: inline-flex !important ;
}

.chat-container{
    border: 1px solid black;
    width: 40vw;
    float: right;
    height: 100vh;
    display : grid ; 
    grid-template-rows: 1fr 10fr 1fr;
    z-index: 5;
}

#message-container{
    height: 100%;
    background: whitesmoke;
    overflow-y: scroll;
    z-index: 5;
}

.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    height: 99%;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
}

#send-container{
    text-align: center;
    height: 80%;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-column-gap: 2px;
    border-top: 2px solid black;
    padding-top: 4px; 
    padding-right: 5px;
}

#message-input{
    width: 90%;
    padding: 0.1px;
    line-height: 1.8rem;
    overflow-y: scroll;
    margin: auto;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid black;
}



.right{
    display: grid;
    grid-template-rows: 1fr 2fr;
  
    width: fit-content;
    min-width: 50%;
    float: right;
    padding: 0.4rem;
    margin: 1rem 1rem;  
    border-radius: 3px ; 
}

.left{
    display: grid;
    grid-template-rows: 1fr 2fr;
    
    width:fit-content ; 
    min-width: 50%;
    float : left ; 
    padding :0.4rem ; 
    margin : 1rem 1rem ; 
    border-radius: 3px ; 
}

.actualMessage{
    align-self : center ; 
}

#roomContainer{
    position: absolute;
}
#roomContainer{
    position: absolute;
    color : white
}
.roomList{
    margin : 2px 0 ;
}


/* Animation */
h1 {
    font-family: 'Kaisei HarunoUmi', serif;
    position: absolute;
    top: 90px;
    left: 480px;
    font-size: 50px;
    color: white;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(33, 34, 73,1) 0%, rgba(9,9,121,1), rgba(0,212,255,1) 100%);
}

.elements {
    position: absolute;
    margin-top: 22rem;
    margin-left: 50rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.box div{
    position:absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
} 

@keyframes animate {
    /* initial stage */
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    /* to rotate clockwise and increase size */
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
.image{
    margin-left: 8rem;
    margin-top: 0px;
}
.auth{
    position: absolute;
    top: 5rem;
    right: 5rem;
    display: flex;
}

.signin{
    outline: none;
    display: block;
    border: 0;
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    background-color: #ec2c7f;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: 'Open Sans', sans-serif;;
}
.signin:hover,
.signin:focus{
    background-color: #860d6c;
}
.signin:active{
    background-color: #92077b;
}
.login{
    outline: none;
    display: block;
    border: 0;
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    background-color: #e58d18;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: 'Open Sans', sans-serif;
}
.login:hover,
.login:focus{
    background-color: #945809;
}
.login:active{
    background-color: #854e07;
}

.signinform{
    padding-left: 85px;
    background: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;;
}

.loginform{
    padding-left: 85px;
    background: none;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;;
}

.elements {
    padding-right: 3rem;
}
.dropbtn {
    background-color: #0d7c11;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 84px;
    /* height: 30px; */
    text-align: center;
    padding: 0;
    border-radius: 1rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }

  .dropdown-toggle{
      margin:2px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

#roomee {
    background-color: #066b0a;
}  

.profile {
    color: white;
    background-color: #097c2f;
    border-radius: 10px;
    margin: 10px;
}
.profile > a {
    color : white ; 
    text-decoration: none;
}

#login {
    color: white;
}
#signup {
    color: white;
}

.input-center {
    margin: auto;
}

#roomContainer {
    margin-left: 55rem;
    margin-top: 30rem;
}

.username{
    margin : auto ; 
}

.line{
    position: relative;
    top: 1.5rem;
}

.send-btn{

    padding : 0px 4px ; 
    align-self: center;
}

.user-info-btn{
    align-self: center;
    width: fit-content;
    margin: auto;
}

.text{
    align-items: center;
    margin: auto;
}

.leave{
    align-self: center;
    width: fit-content;
    margin: 2px;
}

.print{
    
    width: 50px;
    height: 45px;
    border-radius: 50% !important;
    position: absolute;
    top: 90%;
    right:42%;
    z-index: 10;
}
.print-image{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

@media only screen and (max-width:1175px){
    
    body{
        display: block !important;
    }
    .god{
        height : 100vh ; 
        width : 100vw ; 
        overflow: hidden;
    }
    .editor-container{
        height : 92vh ; 
        width : 100vw ; 
    }
    #editor{
        height:88%;
    }
    .chat-container{
        height : 90vh;
        width : 80vw ; 
        position : absolute ; 
        top:50%; 
        left : 50%; 
        transform : translate(-50%,-46%);
    }

    #message-input{
        height : 2rem;
    }

    .print{
        top:88vh; 
        right:5vw;
    }
    .ql-toolbar.ql-snow{
        height : fit-content ; 
    }
}  
@media only screen and (max-width:700px){
    #editor{
        height:84%
    }
} 
@media only screen and (max-width:400px){
    #editor{
        height:79%
    }
    .print{
        height:30px; 
        width : 35px;
        top:90vh;
        right:8vw;
    }
    .header{
        grid-gap : 0.5rem ;
    }
} 

.videoContainer{
    width: 35%;
    height: 60%;
    position: absolute;
    top: 19%;
    z-index: 20;
    right: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 40%);
    grid-auto-rows: 40%;

}

.videoContainer > video{
    object-fit: cover; 
    width : 80%;
    margin : 10px ; 
}